<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/confluxsys/IdeaProjects/SpringJdbcDemo/src/test/java/org/example/AppTest.java">
        <classes>
            <class name="org.example.AppTest" >
                <methods>
                    <include name="getUsersTest"/>
                    <include name="getUserByRollNo"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>